<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Quotes
    body
        h1 Here are the awesome quotes!
        each quote in Quotes
            div
                h3= quote.quote
                p= quote.name
                p= quote.time
            br
        a(href="/") Home